<div class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" href="#{{meta.id}}">
				<i class="icon icon-chevron-down"></i>
				{{meta.title}}
			</a>
		</div>

		<section id="{{meta.id}}" class="accordion-body collapse">
			<div class="accordion-inner">
				{{{marked content}}}
			</div>
		</section>
	</div>
</div>