<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" lang="en-us"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/><!-- Use Chrome Frame if installed -->
	<!--[if lt IE 9]> <script src="/thundr/javascript/lib/html5shiv.js"></script> <![endif]--><!-- Enable HTML5 in IE8 and below -->
	<title>{{page.title}}</title>
	<link rel="shortcut icon" href="/thundr/favicon.ico" />
	<meta name="description" content="{{page.description}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Allows website to respond to natural agent size -->
	<meta name="keywords" content="{{page.keywords}}"/>
	<!--
	<t:style src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css"/>
	<t:style src="/thundr/styles/lib/bootstrap/bootstrap.css"/>
	-->
	<link rel="stylesheet" href="/thundr/styles/lib/bootstrap/bootstrap.css"></link>
	<link rel="stylesheet" href="/thundr/styles/style.css"></link>
	<link rel="stylesheet" href="/thundr/styles/lib/font/font-awesome.css"></link>
	<link rel="stylesheet" href="/thundr/styles/lib/prettify.css"></link>
	<!--[if IE 7]>
	<link rel="stylesheet" href="/thundr/styles/lib/font/font-awesome-ie7.css">
	<![endif]-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<!--
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
	-->
	<script src="/thundr/javascript/lib/bootstrap/bootstrap.min.js"></script>
	<script src="/thundr/javascript/lib/bootstrap/bootstrap-dropdown.js"></script>
	<script src="/thundr/javascript/lib/bootstrap/bootstrap-collapse.js"></script>
	<script src="/thundr/javascript/lib/prettify.js"></script>
	<script>
	$(document).ready(function () {
		// If we cross link pages to a collapsed accordian, open the entry of interest.
		// We'll also open any collapsed accordian section within the same page
		location.hash && $(location.hash + '.collapse').collapse('show');
		$(window).bind('hashchange', function() {
			location.hash && $(location.hash + '.collapse').collapse('show');
		});
		$('.dropdown-toggle').dropdown();
		$(".collapse").collapse();
		prettyPrint();
	});
	</script>
</head>
<body>
	 <header class="container">
		<nav class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/thundr/"><img src="/thundr/images/logoFullSmall.png"/></a>
				<ul class="nav" role="navigation">
					<li class="{% if page.id == "home" %} active {% endif %}">
						<a href="/thundr/index.html">
							Overview
						</a>
					</li>
					<li class="dropdown {% if page.id == "basics" %} active {% endif %}">
						<a href="/thundr/basics.html" class="dropdown-toggle" data-toggle="dropdown">
						    Basics <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/basics.html">Overview</a></li>
							<li class="divider"></li>
						   	<li><a href="/thundr/basics.html#basicExample">Example</a></li>
							<li><a href="/thundr/basics.html#applicationConfiguration">Configuration</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/basics.html#webXml">web.xml</a></li>
							<li><a href="/thundr/basics.html#modulesProperties">modules.properties</a></li>
							<li><a href="/thundr/basics.html#injectionConfiguration">InjectionConfiguration</a></li>
							<li><a href="/thundr/basics.html#applicationProperties">application.properties</a></li>
						</ul>
 						</li>
 						<li class="dropdown {% if page.id == "controllers" %} active {% endif %} ">
						<a href="/thundr/controllers.html" class="dropdown-toggle" data-toggle="dropdown">
						    Controllers <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/controllers.html">Overview</a></li>
							<li class="divider"></li>
						   	<li><a href="/thundr/controllers.html#controllers">Controllers</a></li>
							<li><a href="/thundr/controllers.html#views">Views</a></li>
							<li><a href="/thundr/controllers.html#dataBinding">Data Binding</a></li>
							<li><a href="/thundr/controllers.html#separationOfConcerns">Separation of concerns</a></li>
							<li><a href="/thundr/controllers.html#injection">Injection</a></li>
						</ul>
 						</li>
					<li class="dropdown {% if page.id == "views" %} active {% endif %} ">
						<a href="/thundr/views.html" class="dropdown-toggle" data-toggle="dropdown">
						    Views <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/views.html">Overview</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/views.html#jspView">Jsp View</a></li>
							<li><a href="/thundr/views.html#redirectView">Redirect View</a></li>
							<li><a href="/thundr/views.html#jsonView">Json View</a></li>
							<li><a href="/thundr/views.html#stringView">String View</a></li>
							<li><a href="/thundr/views.html#httpStatusException">HttpStatusException</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/views.html#viewResolver">ViewResolver&nbsp;&nbsp;<span class="label label-info">Advanced</span></a></li>
						</ul>
 						</li>
 						<li class="dropdown {% if page.id == "actions" %} active {% endif %}">
						<a href="/thundr/actions.html" class=" dropdown-toggle" data-toggle="dropdown">
						    Actions <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/actions.html#routes">Routes</a></li>
							<li><a href="/thundr/actions.html#actions">Actions</a></li>
							<li class="divider"></li>
						   	<li><a href="/thundr/actions.html#methodAction">MethodAction</a></li>
							<li><a href="/thundr/actions.html#staticResourceAction">StaticResourceActions</a></li>
							<li><a href="/thundr/actions.html#staticResourceAction">RedirectAction</a></li>
							<li><a href="/thundr/actions.html#staticResourceAction">RewriteAction</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/actions.html#actionResolver">ActionResolver&nbsp;&nbsp;<span class="label label-info">Advanced</span></a></li>
						</ul>
 						</li>
 						<li class="dropdown {% if page.id == "injectionContext" %} active {% endif %}">
						<a href="/thundr/injectionContext.html" class=" dropdown-toggle" data-toggle="dropdown">
						    Dependency Injection <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/injectionContext.html">Overview</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/injectionContext.html#injectionContext">InjectionContext</a></li>
							<li><a href="/thundr/injectionContext.html#types">Injection by type</a></li>
							<li><a href="/thundr/injectionContext.html#namedTypes">Injection by named type</a></li>
							<li><a href="/thundr/injectionContext.html#instantiation">Instantiation</a></li>
							<li><a href="/thundr/injectionContext.html#properties">Properties</a></li>
						</ul>
 						</li>
 						<!-- TODO - Email doc
 						<li class="dropdown">
						<a href="/thundr/email" class="{% if page.id == "email" %} active {% endif %} dropdown-toggle" data-toggle="dropdown">
						    Email <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/email.html">Overview</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/email.html#example">Example</a></li>
							<li><a href="/thundr/email.html#limitations">Limitations</a></li>
						</ul>
 						</li>
 						-->
 						<li class="dropdown {% if page.id == "appengine" %} active {% endif %}">
						<a href="/thundr/appengine.html" class=" dropdown-toggle" data-toggle="dropdown">
						    GAE <b class="caret"></b>
					  	</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<li><a href="/thundr/appengine.html">Overview</a></li>
							<li class="divider"></li>
							<li><a href="/thundr/appengine.html#settingUp">Setting Up</a></li>
							<li><a href="/thundr/appengine.html#moduleFeatures">Module Features</a></li>
						</ul>
 						</li>
				</ul>
			</div>
		</nav>
	</header>
	<article id="{{page.id}}" class="container">
	{{ content }}
	</article>
	<footer class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<span class="navbar-text pull-right">
					Brought to you by <a href="http://www.3wks.com.au" title="3wks"><img class="threewksLogo" src="http://3wks.com.au/images/3wks_logo_2.png"/></a>
				</span>
				<span class="navbar-text">
					<a href="mailto:nick@3wks.com.au?Subject=thundr">
						<i class="icon icon-envelope-alt"></i> 
						Get in touch
					</a>
				</span>
				<span class="navbar-text">
					<a href="https://groups.google.com/forum/?fromgroups#!forum/thundr-framework">
						<i class="icon icon-group"></i> 
						Join us on Google Groups 
					</a>
				</span>
			</div>
		</div>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-37139757-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	</footer>
</body>
</html>
		
